*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background-color: rgb(17, 17, 17);
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    margin-left: 30px;
    margin-bottom: 0px;
    height: 50px;
    width: 80px; 
    background-image: linear-gradient(40deg,rgb(22, 22, 22) 20%, rgb(6, 255, 6));
    border-radius: 9px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin-right:50px;

}

nav ul li {
    display: inline-block;
    margin-left: 30px;
    position: relative; 
}

nav ul li:first-child {
    margin-left: 0; 
}

nav ul li a {
    color: #09ff00;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 20px;
}


nav ul li::after {
    content: '';
    position: absolute;
    bottom: -3px; /* Ajuste a posição conforme necessário */
    left: 0;
    width: 0;
    height: 2px;
    background-color: #09ff00; /* Cor da linha */
    transition: width 0.3s ease; /* Adiciona uma transição suave */
}

nav ul li:hover::after {
    width: 100%; /* A linha aparece completamente quando o mouse passa por cima */
}

main {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza as seções horizontalmente */
}

section {
    width: 100%; /* Ocupa toda a largura disponível */
    padding: 20px; /* Adiciona um preenchimento interno às seções */
    box-sizing: border-box; /* Inclui a largura da borda e o preenchimento no cálculo da largura */
}

#Inicio {
    margin-top:60px;
    background-color: #000000;
    height:40vh;
   display: flex;
   align-items: center;
   justify-content: center;
}

#Inicio .TextoApresentacao{
    border: 1px solid rgb(0, 0, 0);
    height: 50%;
    width: 60% ;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   color:  #09ff00;
    
}




#catalogo {
    background-color: rgb(255, 0, 0);
    
}
